<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Market</title>

    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome.min.css}">

    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>

</head>
<body>

<div class="uk-container uk-container-large">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <a th:href="@{/}" class="uk-logo uk-navbar-item"><i class="fa-solid fa-pizza-slice"></i>Pizza</a>
                <li><a th:href="@{/menu}">Menu</a></li>
                <li><a th:href="@{/delivery}">Dostawa</a></li>
            </ul>
        </div>
    </nav>

    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <h1 class="uk-heading-bullet">Dostawa</h1>
            <div class="uk-child-width-1-3 uk-grid-small" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-card-title"><i class="fa-solid fa-truck-fast"></i>Strefa I</h3>
                        <p>5.00zł</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-card-title"><i class="fa-solid fa-truck"></i>Strefa II</h3>
                        <p>10.00zł</p>
                    </div>
                </div>
            </div>
            <div class="uk-margin-medium">
                <img th:src="@{/img/delivery.jpg}" alt="">
            </div>
        </div>
    </div>

</div>


</body>
</html>