<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template(~{:: .uk-section})}">
<head>
Y
</head>
<body>


    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <h1 class="uk-heading-bullet">Dostawa</h1>
            <div class="uk-child-width-1-3 uk-grid-small" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-card-title"><i class="fa-solid fa-truck-fast"></i>Strefa I</h3>
                        <p>5.00zł</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-card-title"><i class="fa-solid fa-truck"></i>Strefa II</h3>
                        <p>10.00zł</p>
                    </div>
                </div>
            </div>
            <div class="uk-margin-medium">
                <img th:src="@{/img/delivery.jpg}" alt="">
            </div>
        </div>
    </div>




</body>
</html>