<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template(~{:: .uk-section})}">
<head>

</head>
<body>

    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <div class="uk-cover-container uk-height-medium uk-margin-small">
                <img th:src="@{/img/home1.jpg}" alt="">
            </div>
            <article class="uk-article uk-margin-large uk-text-center">
                <h1 class="uk-article-title">Pizza neapolitańska</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet corporis dolorum error,
                    illo libero magni nobis nostrum obcaecati pariatur perferendis porro provident qui quia, repudiandae
                    rerum tempora. Ab accusantium cupiditate deleniti deserunt distinctio, doloremque, earum, harum
                    ipsum itaque mollitia nobis optio pariatur perferendis praesentium quae sed sit soluta ut veniam
                    voluptatum? Animi aperiam autem consequatur corporis dicta, eius exercitationem ipsam? Alias aliquid
                    beatae doloribus, ea excepturi fuga ipsam minima nobis obcaecati odit possimus quos reiciendis
                    tempore unde voluptatem! Ad expedita incidunt laborum nostrum, pariatur sequi temporibus? Animi
                    aspernatur corporis esse fugit itaque modi recusandae saepe, sapiente soluta vel?</p>
                <a class="uk-button uk-button-primary uk-margin-large" th:href="@{/menu}">Sprawdz nasze menu</a>
            </article>
            <div class="uk-cover-container uk-height-medium uk-margin-small">
                <img th:src="@{/img/home2.jpg}" alt="">
            </div>
        </div>
    </div>




</body>
</html>