<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="nav" class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <a th:href="@{/}" class="uk-logo uk-navbar-item"><i class="fa-solid fa-pizza-slice"></i>Pizza</a>
            <li><a th:href="@{/menu}">Menu</a></li>
            <li><a th:href="@{/delivery}">Dostawa</a></li>
        </ul>
    </div>
</nav>

</body>
</html>