<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template(~{:: .uk-section})}">
<head>

</head>
<body>

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h1 class="uk-heading-bullet">Zamówienia</h1>
        <table class="uk-table uk-table-striped">
            <tbody>
            <tr th:each="order : ${orders}">
                <td class="uk-flex uk-flex-column">
                    <b><div th:text="${order.getOrderAdress().getNameAndSurname()}"></div></b>
                    <div th:text="${order.getOrderAdress().getStreet()}"></div>
                    <div th:text="${order.getOrderAdress().getCity()}"></div>
                </td>
                <td class="uk-width-1-3">
                    <b><div th:text="${order.getPizzaName()}"></div></b>
                    <div></div>
                    <div></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body> 
</html>