<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template(~{:: .uk-section})}">
<head>

</head>
<body>

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h1 class="uk-heading-bullet">Zamówienie</h1>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h3 class="uk-card-title" th:text="${pizza.name}"></h3>
            <p><span th:each="ingredient,stat : ${pizza.ingredients}"
                     th:text="${ingredient.name} + ${stat.last ? '' : ', '}"></span></p>
            <p th:text="|${pizza.price}zł|"></p>
        </div>
        <form class="uk-grid-small uk-margin" th:object="${orderAddress}" uk-grid method="post"
              th:href="@{/menu/order/{pizzaId}(pizzaId=${pizza.id})}">
            <div class="uk-width-1-2">
                <input class="uk-input" type="text"  placeholder="Imię" th:field="*{firstName}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('firstName')}" class="uk-text-small uk-text-danger">
                    Imię powinno mieć długość od 2 do 15 znaków
                </span>
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="text" placeholder="Nazwisko" th:field="*{lastName}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('lastName')}" class="uk-text-small uk-text-danger">
                    Nazwisko powinno mieć długość od 2 do 15 znaków
                </span>
            </div>
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" placeholder="Ulica" th:field="*{street}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('street')}" class="uk-text-small uk-text-danger">
                    Nazwa ulicy powinna mieć długość od 2 do 30 znaków
                </span>
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="text" placeholder="Kod pocztowy" th:field="*{postalCode}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('postalCode')}" class="uk-text-small uk-text-danger">
                    Kod pocztowy powinno mieć 6 znaków długości
                </span>
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="text" placeholder="Miasto" th:field="*{city}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('city')}" class="uk-text-small uk-text-danger">
                    Miasto powinno mieć długość od 2 do 15 znaków
                </span>
            </div>
            <div class="uk-width-1-1">
                <input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="Zamów">
            </div>
        </form>
    </div>
</div>

</body>
</html>