<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template(~{:: .uk-section})}">
<head>

</head>
<body>

<div class="uk-section">
    <div class="uk-container uk-container-small uk-divider-small">
        <article class="uk-article uk-margin-large uk-text-center">
            <i class="fa-solid fa-truck-fast fa-10x"></i>
            <h1 class="uk-article-title">Zamówienie już do Ciebie jedzie!</h1>
            <a class="uk-button uk-button-primary uk-margin-large" th:href="@{/menu}">POWRÓT DO MENU</a>
        </article>
    </div>
</div>

</body>
</html>